{% extends 'layout.html.twig' %}

{% block content %}
  <div>
      <h2>Urls for the « {{ frontend.name }} » frontend</h2>
      <ul>
        {% for url in frontend.getUrls %}
          <li>
            {{ "Comments for this url:"|trans }}
            « {{ url.url }} »
            <ul>
              {% for comment in url.Comments %}
                <li>
                  - {{ comment.userName }}: {{ comment.comment }}
                  <a href="{{ path('remove_comment', {'frontend': frontend.id, 'url': url.id, 'comment': comment.id}) }}">
                      <i class="icon-trash"></i>
                  </a>
                </li>
              {% else %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>No url / comments yet for this frontend.</li>
        {% endfor %}
      </ul>
  </div>
{% endblock %}
